@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Frank+Ruhl+Libre:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
  & h1,
  h2,
  h3 {
    font-family: "Frank Ruhl Libre", serif;
  }
}

.hello {
  width: 90vw;
  height: fit-content;
  padding: 20px 20px 0px 20px;

  background-color: #c7ddea;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  & img {
    width: 70%;
    align-self: flex-end;
  }
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  & p {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 30px;
    font-size: small;
  }
  & .active {
    background-color: #f2f1f1;
  }
}

main {
  background-color: #a9a19e;

  width: 90vw;
  height: fit-content;

  padding: 20px 20px 0px 20px;
  color: white;

  & h1 {
    font-size: 40px;
  }
  & form {
    margin: 20px 0;
  }
  & label {
    display: block;
    margin: 5px 0;
  }
  & input {
    width: 100%;
    margin-bottom: 10px;

    border: none;
    border-radius: 2px;
  }
  & #message {
    height: 100px;
  }
  & button {
    float: right;
  }
}
