@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Frank+Ruhl+Libre:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
  & h1,
  h2,
  h3 {
    font-family: "Frank Ruhl Libre", serif;
  }
}

nav {
  display: none;
}

.up {
  display: none;
}

.part-1,
.part-2,
.part-3 {
  width: 90vw;
  height: 100vw;
  padding: 20px 20px 0px 20px;

  background-color: #c7ddea;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  & p {
    color: #4a4847;
    font-size: xx-small;
    line-height: 150%;
  }
}

.part-1 {
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-end;

  height: fit-content;

  & h1 {
    font-size: 40px;
    margin-top: 30px;
    line-height: 110%;
  }
  & p {
    margin: 20px 0;
    font-size: small;

    & span {
      color: white;
    }
  }
  & img {
    width: 70%;
    align-self: flex-end;
  }
  & button {
    width: 30%;
    border: none;
    padding: 10px;
    align-items: center;
    appearance: none;
    border-style: none;
    background-color: #fff;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
      rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  }
}

.part-2 {
  background-color: #f17949;

  & h1 {
    color: white;
    font-size: 30px;
  }
}

.part-3 {
  background-color: #fab131;

  & h1 {
    color: white;
    font-size: 30px;
  }
}

.part-4 {
  width: 90vw;
  height: fit-content;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  background-color: #a9a19e;

  padding: 20px;

  & h1 {
    width: 100%;
    color: white;
    font-size: 40px;
    margin-top: 30px;
    line-height: 110%;
  }
  & p {
    width: 100%;
    color: #4a4847;
    font-size: small;
    line-height: 150%;
    margin: 20px 0;
  }

  & .card-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  & .card {
    background-color: white;
    width: 80%;
    border-radius: 15px;
    margin: 20px 0;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;

    & img {
      width: 30%;
    }
    & h3 {
      margin-top: 20px;
    }
    & p {
      width: 80%;
      font-size: 10px;
      margin: 20px;
    }
  }
}

.part-5 {
  background-color: #fab131;

  padding: 25px;
  text-align: center;

  & h1 {
    color: white;
    font-size: 40px;
  }
  & p {
    color: #4a4847;
    font-size: small;
    line-height: 150%;
    margin: 25px;
  }
}

.part-6,
.part-7,
.part-8,
.part-9,
.part-10,
.part-11,
.up {
  width: 90vw;
  height: 50vw;
  padding: 20px;

  background-color: #c7ddea;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  & span {
    align-self: flex-start;
    height: 50%;
    color: rgb(74, 72, 71, 0.5);
  }
  & p {
    height: 50%;
  }
}

.part-7,
.part-9,
.part-11 {
  background-color: white;
}

.part-8 {
  background-color: #d7d2d1;
}

.part-10 {
  background-color: #f17949;
}

.up {
  background-color: #a9a19e;
}

@media only screen and (min-width: 768px) {
  * {
    margin: 0 2%;
    padding: 0;
    overflow-y: visible;
    overflow-x: visible;
  }
  header {
    margin: 0;
    padding: 0;
  }
  .home {
    width: 100%;
    height: 500px;

    margin: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  main {
    margin: 0;
  }
  .part-1 {
    width: 50%;
    height: 500px;
    margin: 0;
    padding: 0;
    flex-wrap: nowrap;

    & h1 {
      margin: 10% 1% 1% 15%;
    }
    & p {
      margin: 2% 5% 1% 15%;
    }
    & button {
      margin: 9% 5% 0 15%;
    }
    & img {
      width: 220px;
    }
  }
  .part-1-2_container {
    width: 50%;
    height: 500px;
    margin: 0;
    padding: 0;
  }
  .part-2,
  .part-3 {
    width: 100%;
    height: 50%;
    margin: 0;
    padding: 0;
  }

  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;

    & p {
      width: 25%;
      height: 60px;
      margin: 0;

      display: flex;
      justify-content: center;
      align-items: center;

      font-size: small;
    }
    & .active {
      background-color: #f2f1f1;
    }
  }

  .our_offer {
    margin: 0;
  }

  .part-4 {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .part-4_container {
    display: flex;
    flex-direction: row;
    padding: 5%;
  }
}
